main{
    display: flex;
    padding: 1rem;
    height: 85vh;
}

main > .panelContainer{
    padding: 1rem;
    width: 65%;
}

#registerTorneoForm{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.panelContainer:nth-child(1){
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelContainer:nth-child(1) > #buttonNewTorneoModal{
   padding: 1.3rem;
    border-radius: .6rem;
    border-color: transparent;
    background-color: var(--secundary-color);
    color: var(--fourth-color);
    font-family: raleway-bold;
    font-size: clamp(1.7rem, 1.4vw, 2.5rem);
    cursor:pointer;
}

.panelContainer:nth-child(1) > #buttonNewTorneoModal:hover{
    box-shadow: 0px 0px 12px 4px rgba(49,81,30,0.3);

}


.panelContainer:nth-child(2) > h2{
    font-family: raleway-semibold;
    font-size: clamp(2.5rem, 2vw, 3.5rem);
    text-align: center;
    margin-bottom: 2rem;
}

/* Panel de lista de torneos */

#listaTorneosActivos{
    width: 80%;
    margin: 0 auto;
}

#listaTorneosActivos > a.torneoItemWrapper{
    text-decoration: none;
    display: block;
    padding: 1rem;
    border-radius: .6rem;
    background-color: var(--primary-color);
    margin-bottom:1.5rem;
}

#listaTorneosActivos > a.torneoItemWrapper:hover{
    box-shadow: 0px 0px 12px 3px rgba(26,26,25,0.4);
    /* transform: scale(); */
}
#listaTorneosActivos > a.torneoItemWrapper > h2{
    font-family: raleway-semibold;
    font-size: clamp(2.3rem, 1.5vw, 2.8rem);
    color: var(--fourth-color);
    flex-basis: 100%;
    margin-bottom: 1rem;
}
#listaTorneosActivos > a.torneoItemWrapper > .containerInfo{
    display: flex;
    gap: 2rem;
}
a.torneoItemWrapper > .containerInfo > .itemInfo > h5{
    font-family: raleway-semibold;
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
    color: var(--third-color);
}

a.torneoItemWrapper > .containerInfo > .itemInfo > div > p{
    padding: .4rem .8rem;
    border-radius: .6rem;
    background-color: var(--fourth-color);
    font-family: raleway-semibold;
    font-size: clamp(1.1rem, 1vw, 1.4rem);
    color: var(--primary-color);
}


/* MOdal */
#registerTorneoForm input,
#registerTorneoForm select {
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--secundary-color);
    background-color: #f9f9f9;
    font-size: 14px;
    color: var(--primary-color);
}
#registerTorneoForm .inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 48%;
}
#registerTorneoForm .inputWrapper:nth-child(1){
    flex-basis: 100%;
}

#registerTorneoForm input,#registerTorneoForm select{
    width: 100%;
}
#registerTorneoForm label{
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    color: var(--primary-color);
}

#formNewTorneoContainer > .tittleModal{
    font-family: raleway-semibold;
    font-size: clamp(2.4rem, 1.6vw, 3rem);
    color: var(--secundary-color);
}

.tingle-btn--primary{
    padding: .8rem 1rem !important;
    border-radius: .6rem !important;
    border-color: transparent !important;
    background-color: var(--secundary-color) !important;
    color: var(--fourth-color) !important;
    font-family: raleway-semibold !important;
    font-size: clamp(1.2rem, 1.1vw, 1.6rem) !important;
    cursor: pointer !important; 
}
.tingle-btn--primary:disabled{
    opacity: .5 !important;
}

.tingle-btn--default{
    padding: .8rem 1rem !important;
    border-radius: .6rem !important;
    border: 1px solid var(--secundary-color)  !important;
    background-color: transparent!important;
    color: var(--primary-color) !important;
    font-family: raleway-semibold !important;
    font-size: clamp(1.2rem, 1.1vw, 1.6rem) !important;
    cursor: pointer !important; 
}